# Ignore the build directory
build/
bin/
obj/

# Ignore compiled executables
ChessEngine
*.exe
*.out
*.app

# Ignore IDE-specific folders
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db